{% extends "base.html" %}
{% block title %} My activities{% endblock %} 
{% block contenido %}

<br>
<br>
<br>
<br>
<h1>Hello, {{user.first_name}} </h1>

<form method = post>
    <h3 align = "center">Change the activity</h3>
    <div class = "form-group">
        <label for="date">NEW Date and Time</label>
        <input type="datetime-local" value="2022-12-15T00:00:00" class="form-control" id="date" name="date" min="2022-12-22" max="2030-12-22" placeholder="Select the date"/>
      </div>
    
      <div class = "form-group">
        <label for="featured">Do you want this activity to be featured?</label><br>
        <input type="radio" id="option1" name="options" value = "yes"><label for="Yes"> &nbsp;Yes</label>
        <input type="radio" id="option2" name="options" value = "no"><label for="No"> &nbsp;No</label>
      </div>
    
      <button type = "Register" class="btn btn-primary">Submit</button>
<br>
<br>
<br>
<br>
<br>
{%endblock%} 